.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.window {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.message {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  text-align: left;
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
